body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    font-weight: bold;
}

a:hover {
    color: white;
}

/* header section */
header {
    display: flex;
    flex-direction: column;
    background-image: url(media/main-image-1.jpg);
    background-size: cover;
    background-position: center;
}

.header-container-1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 16px;
}

.header-container-2 {
    display: flex;
    flex: 1 0 50%;
    justify-content: space-between;
    margin: 24px;
    flex-wrap: wrap;
    row-gap: 18px;
}

.header-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 120px 0;
    row-gap: 24px;
}

.logo {
    width: 420px;
    height: auto;
}

nav a {
    padding: 2px;
    border-style: solid;
    font-size: 14px;
}

.phone-link {
  margin-left: 12px;
}

.hero-text {
    text-align: center;
    font-size: 56px;
    max-width: 90vw;
}

.hero-subtext {
    text-align: center;
    max-width: 80vw;
    font-size: 22px;
}

/* services section */
#services-section {
    background-image: url(media/city-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 36px;
    
}

#services-section h3 {
    white-space: nowrap;
    font-size: 20px;
    text-align: center;
}

.location-list {
    height: 160px;
    width: 320px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
    font-style: italic;
}

.services-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.services-container-1 h2 {
    font-size: 52px;
    font-weight: bolder;
    text-align: center;
}

.phone-gif {
    width: 100px;
    height: auto;
    opacity: 1;
}

.services-container-2 {
    gap: 24px 12px;
    display: flex;
    font-size: 24px;
    font-style: italic;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.plumbing-services {
    text-align: center;
}

.plumbing-services ul {
    padding: 12px;
    background-color: #FD716580;
    border-radius: 10px;
    border-style: solid;
    width: 300px;
}

.drainage-services {
    text-align: center;
}

.drainage-services ul {
    padding: 12px;
    background-color: #05BACC80;
    border-radius: 10px;
    border-style: solid;
    width: 300px;
}
/* image gallery section */

/* carousel glitches between images when it
is a flex item, relative positioning used */
#carouselFade {
   max-width: 500px;
   margin: 80px 0 80px 0;
}

#image-gallery-section {
    background: linear-gradient(180deg, black 85%, white 100%);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

#image-gallery-section h3 {
    color: white;
    width: 420px;
    font-size: 38px;
    margin: 80px 8px 0 8px;
}

#carouselFade .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}


/* contact us section */
#contact-us-section {
    background-color: white;
    color: black;
}

#contact-us-section a {
    color: black;
    border-style: solid;
    border-radius: 30px;
    border-width: 4px;
    padding: 8px;
    font-size: 28px;
}

.phone-button:hover {
    background-color: #FD7165;
}

.email-button:hover {
    background-color: #05BACC;
}

#contact-us-section h2 {
    text-align: center;
    font-size: 42px;
    margin: 26px 0 40px 0;
}

#contact-us-section p {
    text-align: center;
    font-size: 28px;
    margin: 18px;
}

.van-logo {
    width: 300px;
    height: auto;
}

.contact-us-container-1 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 18px 36px;
    margin: 40px 0 20px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#contact-us-section button {
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
}

#contact-us-section button:hover {
    color: white;
}
/* Media queries (screen size optimized for 320px) */

@media(max-width: 500px) {
    .hero-text {
        font-size: 48px;
    }

    .hero-subtext {
        font-size: 18px;
    }
}

@media(max-width: 420px) {
    .logo {
        width: 320px;
    }
}

@media(max-width: 427px) {
    .header-container-2 {
        justify-content: center;
    }
}